# Contoh Konfigurasi Environment (Salin file ini menjadi .env)
# Setiap bulan saat link Google Spreadsheet berganti, Anda cukup mengganti nilai di sini atau langsung memasukkan link baru melalui antarmuka Web UI.

# ID Google Spreadsheet bulanan (Bisa berupa ID langsung seperti 1h3oX... atau full URL https://docs.google.com/spreadsheets/d/1h3oX.../edit)
TIMESHEET_SS_ID=

# URL Web App Google Apps Script (Opsional jika menggunakan default)
# WEB_APP_URL=https://script.google.com/macros/s/AKfycbwcjKNwfeJiCwa6Qx1Xd1bI43tkV_a82UHfl70cvpa1J7AYXXvE0eB8kdQBByb19PnJFQ/exec

# Konfigurasi Server
SERVER_HOST=0.0.0.0
SERVER_PORT=8769
